<ion-view view-title="My Spa 247" name="landing-view" style="background: url('/img/bg4.jpg'); background-size: cover;">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content>
        <!--back-img="bg1.jpg,bg2.jpg,bg3.jpg,bg4.jpg,bg5.jpg" back-url="/img/"-->
        <br/><br/><br/><br/>
        <div class="vm-container">
            <div class="vm-body">
                <div class="card padding text-center">
                    <h3 class="title"> Welcome to My Spa 247</h3>
                    <p class="">Everything you need to start your day off.</p>
                    <p>Receive offer - locate your best salon - make appointment.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-calm" ui-sref="login">Sign in</button>
                    </div>
                    <div class="col">
                        <button class="button button-block button-calm" ui-sref="signup">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>