<ion-view view-title="Sign-In" name="login-view" class="login-page" back-img="bg1.jpg,bg2.jpg,bg3.jpg,bg4.jpg,bg5.jpg" back-url="/img/">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content class="padding">
        <div class="logo-body">
            <img src="/img/logo_512.png" width="200" height="200" alt="Logo"/>
        </div>
        <form>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="email" placeholder="Username/Email" ng-model="data.email" autofocus=""/>
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="data.password"/>
                </label>
            </div>
            <div class="list list-inset">
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" name="remember" ng-model="remember">
                    </label>
                    Remember me?
                </div>
            </div>
            <button class="button button-block button-positive" ng-click="login()">Sign In</button>
            <div class="button-bar">
                <button class="button button-outline button-positive" ng-click="authenticate('facebook')">with Facebook</button>
                <button class="button button-outline button-positive" ng-click="authenticate('google')">with Google</button>
                <button class="button button-outline button-positive" ng-click="authenticate('twitter')">with Twitter</button>
            </div>
            <br/>
            <div class="well">
                <div class="well-body text-center">
                    <p>Don't have an account yet? <a href="#" class="" ui-sref="signup">Sign Up</a></p>
                    <p>Don't remember your password? <a href="#" class="" ui-sref="forgotpassword">Forgot Password</a></p>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>