<ion-view view-title="Sign-In" name="login-view" class="login-page" back-img="img/{{backImg}}">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-content class="padding">
        <div class="logo-body">
            <img src="/img/logo_512.png" width="200" height="200" alt="Logo"/>
        </div>
        <form ng-submit="login(data)">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="data.username" autofocus=""/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="data.password"/>
                </label>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Remember me?
                </div>
            </div>
            <div class="button-bar">
                <button class="button button-positive" ng-click="login(data)">Login</button>
                <button class="button button-balanced" ui-sref="signup">Sign Up</button>
                <button class="button button-royal" ui-sref="forgotpassword">Forgot Password</button>
            </div>
        </form>
    </ion-content>
</ion-view>