<ion-view view-title="Public" name="dashboard-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        This is open for everyone!
    </ion-content>
    <ion-tabs class="tabs-icon-top tabsbalanced">
        <ion-tab title="My Place" icon="ion-home" href="#/customer/dash">
            <ion-nav-view name="dash-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Around" icon="ion-earth" href="#/customer/public">
            <ion-nav-view name="public-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My Offer" icon="ion-android-subway" href="#/customer/offer">
            <ion-nav-view name="offer-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>