<ion-view title="Around">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-header="true" padding="true">
        <ion-header-bar class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input id="addressInput" type="search" placeholder="Search" ng-model="addressInput" ng-required=""/>
            </label>
            <button class="button button-clear" ng-click="searchLocationsNear()">Search</button>
        </ion-header-bar>
        <div id="map_canvas">
            <map center="37.7749295,-122.41941550000001" center="current-location" zoom="9" data-tap-disabled="true" style="height: {{ dimenstion.dev_height }}">
                <marker position="{{currentPosition.coords.lat}}, {{currentPosition.coords.lng}}" on-click="getCurrentAddress()" animation="DROP" draggable="true"></marker>
                <custom-control id="detectLocationId" position="TOP_RIGHT" index="1" on-click="detectLocationClick()">
                    <button class="button button-positive"><i class="ion ion-compass"></i></button>
                </custom-control>
            </map>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-clear" ng-show="markerList.length" ng-click="openPopoverResult($event)">Results</button>
        <div class="title">-</div>
        <button class="button button-clear" ng-click="openPopoverDirection($event)">Direction</button>
    </div>
</ion-view>