<ion-view view-title="Information" name="customer-info-view">
    <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-avatar">
                <div class="item-char">{{store.firstChar}}</div>
                <h2 class="strong">{{ store.title }}</h2>
                <p class="address">{{ store.address }}, {{ store.zipcode }}</p>
            </div>
            <div class="item item-body">
                <ion-gallery ion-gallery-items="heomoi" ion-row-height="125"></ion-gallery>
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>
            </div>
            <div class="item item-icon-left energized">
                <i class="icon ion-clock"></i>
                <h3>Business hour</h3>
                <p>{{ store.business_hour }}&nbsp;</p>
            </div>
            <a href="tel:{{ store.phone }}" class="item item-icon-left balanced" title="Phone">
                <i class="icon ion-ios-telephone-outline"></i>
                {{ store.phone }}&nbsp;
            </a>
            <a href="{{ store.website }}" class="item item-icon-left positive" title="Website">
                <i class="icon ion-earth"></i>
                {{ store.website }}&nbsp;
            </a>
        </div>
    </ion-content>
</ion-view>