<ion-view view-title="Note" name="customer-note-view">
    <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button button-stable" ng-click="openModal()"><i class="ion ion-plus"></i></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item class="list-item item-avatar item-text-wrap" ng-repeat="item in customerNotes">
                <div class="item-pull-left"><a href="" ng-click="doRemove(item)"><i class="ion ion-ios-minus-outline larger"></i></a></div>
                <span class="item-note date-time">{{ item.created_at | date:"MMM-yyyy" }}</span>
                <p><span class="strong color-positive">Product code:</span> {{item.product_code}} / <span class="strong color-positive">Barcode:</span> {{item.barcode}}</p>
                <p>{{ item.content }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>