<ion-view view-title="Offer" name="customer-offer-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="tabbed-content-within-sidemenu-app padding" has-header="true" padding="true">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="offer in offers">
                <div class="list">
                    <div class="item">
                        <h2 class="positive">{{ offer.subject }}</h2>
                        <p class="">{{offer.start_time | asDate | date:"MMM-dd-yyyy"}} - {{offer.end_time | asDate | date:"MMM-dd-yyyy"}}</p>
                        <div class="off">{{offer.off}}{{offer.off_type}}</div>
                    </div>
                    <div class="item" style="padding:0">
                        <img class="clear" ng-src="http://localhost:8000/{{ offer.file_url }}" alt="Offer" width="100%"/>
                    </div>
                    <div class="item">
                        <p>{{offer.content}}</p>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <ion-tabs class="tabs-icon-top tabs-light">
        <ion-tab title="Home" class="assertive" icon="ion-home" href="#/customer/dash">
            <ion-nav-view name="dash-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Around" class="energized" icon="ion-map" href="#/customer/around">
            <ion-nav-view name="around-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My Offer" class="balanced" icon="ion-pricetags" href="#/customer/offer">
            <ion-nav-view name="offer-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>