<ion-view view-title="My Profile" name="customer-profile-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="flash-message {{ flashMessage.className }}" ng-class="" ng-if="flashMessage.visibility">
            {{ flashMessage.message }}
        </div>
        <form ng-submit="updateProfile($event)">
            <label class=" item item-input item-stacked-label">
                <span class="input-label"></span>
                <input type="text" placeholder="Username" ng-model="formData.username" readonly="readonly"/>
            </label>
            <label class=" item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name" ng-model="formData.first_name"/>
            </label>
            <label class=" item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name" ng-model="formData.last_name"/>
            </label>
            <label class=" item item-input item-stacked-label">
                <span class="input-label">Email address</span>
                <input type="email" placeholder="Type your Email address" ng-model="formData.email" readonly="readonly"/>
            </label>
            <label class=" item item-input item-stacked-label">
                <span class="input-label">Mobile number</span>
                <input type="tel" placeholder="Mobile number" ng-model="formData.mobile"/>
            </label>
            <label class=" item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" placeholder="Address" ng-model="formData.address"/>
            </label>
            <label class=" item item-input item-stacked-label">
                <span class="input-label">Zipcode</span>
                <input type="text" placeholder="Zipcode" ng-model="formData.zipcode"/>
            </label>
            <br/>
            <div class="button-bar">
                <button class="button button-outline" ng-click="doReset($event)">Reset</button>
                <button class="button button-outline" type="submit">Update</button>
            </div>
        </form>
    </ion-content>
</ion-view>