<ion-view view-title="My Profile" name="customer-profile-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <form ng-submit="updateProfile(data)">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username"/>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model="data.firstname"/>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="data.lastname"/>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="data.email"/>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Mobile Phone" ng-model="data.mobile_phone"/>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Address" ng-model="data.address"/>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Zipcode" ng-model="data.zipcode"/>
            </label>
        </form>
    </ion-content>
</ion-view>