<ion-view view-title="Offer" name="owner-customer-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete"></button>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
        <button class="button button-stable" ng-click="createOffer()"><i class="ion ion-plus"></i></button>
    </ion-nav-buttons>
    <ion-content class="tabbed-content-within-sidemenu-app padding" has-header="true">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<div class="flash-message {{ flashMessage.className }}" ng-class="" ng-if="flashMessage.visibility">
            {{ flashMessage.message }}
        </div>
        <ion-list show-delete="data.showDelete" class="list">
            <ion-item ng-repeat="offer in storeOffers" ng-click="detailOffer(offer)">
                <ion-delete-button class="ion-minus-circled" ng-click="doRemove($event, offer)"></ion-delete-button>
				<div class="pull-right text-right">{{offer.start_time | asDate | date: APP_CONFIG.FORMAT.DATE}}<br/>{{offer.end_time | asDate | date:APP_CONFIG.FORMAT.DATE}} </div>
                <span class="strong color-positive"> {{ offer.subject }} ({{ offer.off }}{{ offer.off_type}})</span>
                <div>{{offer.content}}</div>
            </ion-item>
            <!--div ng-repeat="offer in offers">
                <ion-item class="item" ng-click="toggleGroup(offer)" ng-class="{active: isGroupShown(offer)}">
                    <i class="icon" ng-class="isGroupShown(offer)? 'ion-android-arrow-dropdown' : 'ion-android-arrow-dropright'"></i>
                    <span class="strong color-positive"> {{ offer.subject }}</span>
                    <div class="pull-right"> at {{offer.start_time | date:"MMM-yyyy"}} - {{offer.end_time | date:"MMM-yyyy"}} </div>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(offer)">
                    <img class="clear" ng-src="{{ offer.file_url }}" alt="Offer" width="100%"/>
                    <div>{{offer.content}}</div>
                </ion-item>
            </div-->
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <ion-tabs class="tabs-icon-top tabs-light">
            <ion-tab title="Home" class="assertive" icon="ion-home" href="#/owner/dash">
                <ion-nav-view name="dash-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Follower" class="energized" icon="ion-person" href="#/owner/follower">
                <ion-nav-view name="follower-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Offer" class="balanced" icon="ion-pricetags" href="#/owner/offer">
                <ion-nav-view name="offer-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-footer-bar>
</ion-view>