<ion-modal-view>
    <ion-header-bar class="icon-left">
        <div class="title"><i class="icon ion-edit"></i> Create Feedback</div>
    </ion-header-bar>
    <ion-content class="padding" has-header="true" has-footer="true">
        <form>
            <div class="list list-inset">
                <div class="item range" ng-class="ratingClass">
                    <i class="icon ion-android-star-outline"></i>
                    <input type="range" name="rate" ng-model="feedbackData.rate" min="1" max="5">
                    <i class="icon ion-android-star"></i>
                </div>
            </div>
            <!--div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Service name" ng-model="feedbackData.service"/>
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Employee name" ng-model="feedbackData.employee"/>
                </label>
            </div-->
            <div class="list list-inset">
                <label class="item item-input">
                    <textarea placeholder="Type here your comment" rows="8" ng-model="feedbackData.content"></textarea>
                </label>
            </div>
            <br/>
        </form>
    </ion-content>
    <ion-footer-bar class="bar bar-footer">
        <div class="button-bar">
            <button class="button button-positive button-outline" ng-click="closeModal()">Cancel</button>
            <button class="button button-positive button-outline" ng-click="saveFeedback()">Save</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>