<ion-view view-title="Forgot Password" name="forgot-password-view" class="login-page">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a href="/#/login" class="button icon-left ion-home"></a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="logo-body">
            <img src="/img/logo_512.png" width="200" height="200" alt="Logo"/>
        </div>
        <form ng-submit="resetPassword(data)">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Username/Email address" ng-model="data.username">
                </label>
            </div>
            <div class="list list-inset" ng-class="{active: isSecurityCodeShown()}">
                <label class="item item-input">
                    <input type="text" placeholder="Security code" ng-model="data.code">
                </label>
            </div>
            <div class="button-bar">
                <button class="button button-positive" ng-click="">Submit</button>
            </div>
        </form>
    </ion-content>
</ion-view>